/* Write your CSS code here */
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.bitcoin-con {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}
.bitcoin-logo {
  width: 30px;
  height: 30px;
  align-self: center;
}
.name {
  color: white;
  padding-left: 10px;
  font-family: roboto;
}
.currency-con {
  display: flex;
  text-align: center;
  flex-direction: row;
}
.usd-value {
  font-family: roboto;
  color: white;
  text-align: center;
  padding-right: 40px;
}
